[core]
	excludesfile = ~/.gitignore
  editor = nvim
  pager = delta
[alias]
	fall = fetch --all
	plor = pull origin
	rebor = rebase -i -r origin/main
	ds = diff --staged
[help]
	autocorrect = 20
[init]
	defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
  true-color = always
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[log]
	follow = true
